body{
    text-align: center;
    background-color: paleturquoise;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size:40px;
}

/*
=================================================
SEARCH
=================================================
*/
form{
    width:100%;
    max-width:600px;
    margin:0 auto;
 }
 input{
    width:100%;
    font-size:40px;
    margin:100px 0;
    border:1px solid #000;
    padding:10px;
    outline:none;
    display:inline-block;
 }
 .search-bar{
    width:80%;
 }
 .submit-button{
    width:15%;
    background:#000;
    color:#FFF;
 }

 /*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks a{
    text-decoration: none;
 }
 .bookmarks{
    padding:30px;
    clear:both;
 }
 .bookmarks i{
    font-size:42px;
    margin:0 20px;
    color:#000000;
    transition:.15s;
    vertical-align: top;
 }
 .bookmarks i:hover{
    font-size:72px;
    position:relative;
 }
 
 /*
=================================================
POST-IT NOTE (IN CSS)
=================================================
*/
#calc{
    opacity:0;
    }