body{
    text-align: center;
   background-color: rgb(234, 234, 220);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size:50px;
}

/*
=================================================
SEARCH
=================================================
*/
form{
    width:100%;
    max-width:600px;
    margin:0 auto;
 }
 input{
    width:100%;
    font-size:35px;
    margin:50px 3;
    border:3px solid #000;
    padding:10px;
    outline:none;
    display:inline-block;
 }
 .search-bar{
    width:70%;
 }
 .submit-button{
    width:15%;
    background:#000000;
    color:#FFF;
 }

 /*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks a{
    text-decoration: none;
 }
 .bookmarks{
    padding:50px;
    clear:both;
 }
 .bookmarks i{
    font-size:35px;
    margin:0 25px;
    color:#ffffff;
    transition:.10s;

 }
 .bookmarks i:hover{
    font-size:50px;
    position:relative;
 }
 
 /*
=================================================
POST-IT NOTE (IN CSS)
=================================================
*/
#note{
 width:250px;
 height:250px;
 resize: none;
 background:#ffffe5;
 padding:15px;
 border:none;
 position: absolute;
 bottom:50px;
 left:400px;
 font-family:sans-serif;
 opacity: 0;
}
/*
=================================================
POST-IT NOTE (IN CSS)
=================================================
*/
#calc{
   opacity:0;
   }
